$standard-border-radius: 0.5em;
$small-border-radius: 0.25em;
$horizontal-layout-min-width: 50em;
$max-form-width: calc(100% - 2em);

html,
body,
#app {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica';
}

#app {
    display: flex;

    .page {
        display: flex;
        width: $max-form-width;
        padding: 1em;

        > * {
            flex-shrink: 0;
        }
    }
}

.pure-button {
    border-radius: $small-border-radius;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.button-cancel,
.button-delete {
    color: white;
    background: rgb(202, 60, 60);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.form-wrapper {
    width: 100%;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
}

.form {
    max-width: 100%;
    padding: 1em;
    background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%);
    border-radius: $standard-border-radius;
    flex-shrink: 0;
}
