@import 'main';

$navigation-menu-link-margin: 1em;

.navigation-menu {
    width: 15em;
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%);
    border-radius: $standard-border-radius;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-right: 1em;

    .navigation-menu-link {
        margin-bottom: $navigation-menu-link-margin;
    }

    .navigation-menu-active-link {
        pointer-events: none;
        cursor: inherit;
    }

    .navigation-menu-exit-wrapper {

        .navigation-menu-link {
            width: 100%;
        }
    }
}

.navigation-menu + .form-wrapper {
    max-width: calc(100% - 20em);
}

@media all and (max-width: $horizontal-layout-min-width) {

    .page {
        flex-direction: column;
    }

    .navigation-menu + .form-wrapper {
        max-width: $max-form-width;
    }

    .navigation-menu {
        width: $max-form-width;
        flex-direction: row;
        margin: 0 0 1em 0;

        .navigation-menu-link {
            margin-bottom: 0;
        }

        .navigation-menu-link:not(:last-child) {
            margin-right: $navigation-menu-link-margin;
        }

        .navigation-menu-exit-wrapper {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;

            .navigation-menu-link {
                width: inherit;
            }
        }
    }
}
