@import 'main';

.new-transaction-form {
    @extend .form;

    .new-transaction-form-row {
        display: flex;
        margin-bottom: 1em;
        width: 100%;
        align-items: center;

        .new-transaction-form-label {
            margin-right: 0.5em;
            min-width: 5em;
        }

        .new-transaction-form-input {
            width: 100%;
            min-width: 0;
            box-shadow: none;
        }
    }

    .new-transaction-buttons-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        > .button-cancel {
            margin-left: 1em;
        }
    }
}
