@import 'main';

.transactions-form {
    @extend .form;

    width: 30em;

    .transactions-form-row {
        display: flex;
        width: 100%;
        flex-shrink: 0;

        &:not(:last-child) {
            margin-bottom: 0.25em;
        }

        .transactions-form-info,
        .transactions-form-header {
            display: flex;
            background: wheat;
            border: 1px solid;
            border-radius: $small-border-radius;
            padding: 0.25em;
        }

        .transactions-form-header {
            width: 100%;

            .transactions-form-bank-name-label {
                flex: 2;
            }

            .transactions-form-amount-label {
                flex: 3;
            }
        }

        .transactions-form-spacer,
        .transactions-form-info {
            flex: 4;
            word-wrap: break-word;

            .transactions-form-bank-name {
                flex: 2;
                min-width: 0;
            }

            .transactions-form-amount {
                flex: 2;
                word-break: break-all;
            }
        }

        .transactions-form-spacer {
            padding: calc(0.25em + 2px);
        }

        .transactions-form-button-wrapper {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .pure-button {
                height: 100%;
                font-size: 80%;
                width: calc(100% - 0.25em);
            }
        }
    }
}
